
body {
    font-family: Arial;
}

#uploadContainer {
    width: calc(100% - 2em);
    border: 1px solid orange;
    padding: 1em;
}

#dragzone {
    width: calc(100% - 2em);
    height: calc(5em - 2em);
    border: 1px solid grey;
    padding: 1em;
}

.spanCaption {
    margin-top: 1em;
    display: inline-block;
}

#caption {
    display: inline-block;
    width: 20em;
}

.spanDesc {
    margin-left: 1em;
    margin-top: 1em;
}

#description {
    display: inline-block;
    width: 40em;
}

#uploadButton {
    margin-top: 1em;
}

.toUploadImage {
    max-height: 3em;
    display: inline-block;
}

#overviewContainer {
    width: calc(100% - 2em);
    padding: 1em;
    overflow: auto;
}

.imageContainer {
    border-bottom: 1px solid orange;
}

.imageContainer img {
    display: inline-block;
    max-height: 15em;
}

.imageContainer span {
    display: block;
}